pharma_shelf_project/.env
# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
.venv/
.env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
