asgiref==3.4.1
bcrypt==3.1.4
cffi==1.15.1
cryptography==40.0.2
Django==3.2.25
ecdsa==0.19.1
pycparser==2.21
PyMySQL==1.0.2
python-dotenv==0.20.0
python-http-client==3.3.7
pytz==2025.2
sendgrid==6.12.4
six==1.17.0
sqlparse==0.4.4
typing_extensions==4.1.1
Werkzeug==1.0.1
